
html{ 	margin: 0px; 
	font-family: Arial, Helvetica, sans-serif; font-weight:normal; color:#404040;
	font-size:12px; letter-spacing:1px; text-transform:none; cursor:default; 
	}
body{ 	width:87%; min-width: 800px; margin:auto; /*background-image:url("body.png");background-repeat:repeat-x;*/
	}
#titel{ width:100%; margin-left:0px;margin-top:0px;padding-top:40px;
	font-size:43px; color:#000; letter-spacing:2px; word-spacing:2px;
	}
#navi,#navi2,#navi3, #navi4{
	width:100%; height:22px; margin-left:0px; margin-top:30px; 
	border-left:solid 1px #989898; border-bottom:solid 1px #989898; 
	}
#navi2{ margin-top:0px;
	border:0px; border-right:solid 1px #989898; 
	}
.navi, .navi1, .navi2,.navi21,.navi3, .navi31,.navi32, .navi4, .navi42{
	height:21px; margin-top:0px; margin-left:0px; float:left; 
	padding-right:10px; padding-left:10px; line-height:1.7;
	border-right:solid 1px #989898; border-top:solid 1px #989898; 
	}
.navi1{	border-bottom:solid 1px #fff; color:#989898; background-color:#fff;}
.navi2,.navi21{	float:right;
	border:0px; border-left:solid 1px #989898; border-bottom:solid 1px #989898; 
	}
.navi21{border-bottom:solid 1px #fff;color:#989898;}
#navi3, #navi4{
	margin-top:0px; 
	font-size:11px; text-transform:uppercase; color:#989898; letter-spacing:2px; 
	}
.navi3, .navi31,.navi32, .navi4, .navi42{color:#989898;line-height:1.9;
	}
.navi31{border-bottom:solid 1px #fff; color:#989898;}
.navi:hover,.navi2:hover,.navi3:hover, .navi4:hover{ background-color:#EEF3E2;color:#000;}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/		
		
#farben{ margin-left:0px; margin-top:50px;}

.f{	margin-left:0px;top:311px; position:absolute;}
.a,.a2,.a3,.a4,.a5 {height:31px;}
.b,.b1 {height:31px; width:140px; padding-left:15px; border:solid 1px #989898;border-top:solid 0px;float:left;}
.b1 {	border-left:solid 1px #ffffff;border-bottom:solid 1px #ffffff;}
.c{	height:31px; width:41px; float:left;background-color:#ffffff;border-bottom:solid 1px #989898;}
.icono{	height: 21px;width:26px;padding-top:5px;padding-left:8px; }
.bluetenblaetter1,.bluetenblaetter2,.bluetenblaetter3,.bluetenblaetter4,.bluetenblaetter5{
	margin-left:198px;top:0px;position:absolute;visibility:hidden;}
.bluetenblaetter1{ visibility:visible; }	
			
.hide{	margin-top:0px; width:134px; padding-left:15px; height:31px;display:block; 
        border:solid 1px #989898; border-top:solid 0px #989898;
	background-color:#ffffff;
	font-weight:normal; font-size:13px;letter-spacing:1px; word-spacing:4px;line-height:2.2;		
	}
#f_titel{margin-left:0px;top:279px;position:absolute;height: 30px;
	line-height:30px; color:#989898; letter-spacing:2px; border:solid 1px #989898;border-right:solid 0px}
.f_titel,.f_titel2{height:30px; width:176px;padding-left:15px;float:left;border-right:solid 1px #989898;}
.f_titel{  border-right:solid 1px #989898;width:140px; }

.hide:hover{ background-color:#EEF3E2;}
.hide:hover{color:#000;}
.a:hover h2,.a2:hover h2,.a3:hover h2,.a4:hover h2,.a5:hover h2{ color:#000;}
.a:hover,.a2:hover,.a3:hover,.a4:hover,.a5:hover{ background-color:#EEF3E2;}
.a:hover .bluetenblaetter1{visibility:visible;}
.a2:hover .bluetenblaetter2{visibility:visible;}
.a3:hover .bluetenblaetter3{visibility:visible;}
.a4:hover .bluetenblaetter4{visibility:visible;}
.a5:hover .bluetenblaetter5 {visibility:visible;}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/		
.content{ width:100%; margin-top:20px;  margin-left:0px;}	
		
.img_k, .txt_k {float:left;}
.img_k{width:520px;margin-left:0px;margin-top:20px;}
.img{ margin-left:0px;margin-top:40px;}
.txt_k{margin-left:0px;min-width: 290px; }
		
		.contact{	margin-top:0px;height:15px;
				padding-top:0px; padding-left:10px;padding-right:10px;
				border-left:solid 1px #ddff9f; float:left; 
			font-weight:normal;
			font-size:10px; padding-top:2px;
			letter-spacing:2px;text-transform:uppercase;
			}
		
#footer{margin-left:0px; width:100%;height: 30px; font-size:11px;height:15px; margin-bottom:20px;
	text-align:center;text-transform:none;font-size:10px;letter-spacing:0px;border:solid 1px #909090;
	}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/	
.nach_oben {text-align:right;}
.linnie,.linnie2{height:10px;border-bottom:1px solid #CDB7B5;}
.clear{clear:both; height:1px;}
.clear2{clear:both; height:0px;}
.space1{clear:both; height:30px;}
.space_img{height:25px;}
.space{height:500px;}
.space_foot{height:40px;}
.space_foot2{height:80px;}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
a{cursor:pointer;text-decoration:none;outline:0;color:#404040;}
a:hover{color:#989898;outline:0;cursor:pointer;}
img{border:none;}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

		h1, h2, h3{	font-weight:normal; font-size:13px;
				letter-spacing:1px; word-spacing:4px;
				margin-top:0px;padding-left:0px;padding-top:6px;line-height:14px;
			}
		
		h3{	padding-left:0px;}
                
		h4{	font-weight:normal;font-size:12px;
			letter-spacing:1px;
			word-spacing:2px;
			line-height:20px;margin-top:0px;
		}
		 
                h5{	font-weight:normal;color:#989898;
			font-size:11px;margin-top:0px;line-height:30px;
			letter-spacing:2px;text-transform:uppercase;margin-bottom:5px;
		}

		h6{	font-weight:normal;font-size:10px;
			text-transform:uppercase;
			color:#707070; 
			letter-spacing:1px;
			word-spacing:2px;
		}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

		






