/******************************
   General styles
 ******************************/

body { 
margin:0 8px;
padding:0;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
}

h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 44px;
font-weight: 400;
letter-spacing: 2px;
margin: 0;
padding-top: 40px;
padding-bottom: 32px;
}

.content h1 {
font-size: 24px;
}

.wrapper, .header {
max-width: 1024px;
margin: 0 auto;
margin-top: 0;
}


a {
color: #404040;
text-decoration: none;
}

ul {
display: inline-block;
}

ul li {
text-align: left;
text-decoration: none;
margin: 14px;
font-size: 20px;
}

ul li a {
text-decoration: none;
color: rgb(64, 64, 64);
font-weight: 400;
}

.content {
text-align: center;
padding: 8px;
}

.nach_oben {
text-align: right;
}


/******************************
   Navigation bar 
 ******************************/

.navi, .naviglobal {
margin-top: 24px;
}

.navi ul, .naviglobal ul {
margin: 0;
padding: 0;
width:100%;
height: 30px;
border-bottom: 1px solid #989898;
border-left: 1px solid #989898;
}

.naviglobal ul {
border-right: none;
}

.navi ul li, .naviglobal ul li {
display: inline-block;
font-size: 14px;
font-family: Helvetica, Arial, sans-serif;
margin: 0;
padding: 0;
text-align: center;
line-height: 20px;
border-top: 1px solid #989898;
border-right: 1px solid #989898;
}

.navi a, .naviglobal a, .navi .btn, .naviglobal .btn {
line-height: 14px;
display:block;
text-decoration: none;
color: #404040;
padding: 8px 12px 7px 12px;
}

.navi a:hover, .naviglobal a:hover {
background-color: #EEF3E2;
}

.naviglobal .navi_select, .navi .navi_select {
border-bottom:none;
background-color:white;
padding-bottom: 1px;
}

.navi .nav_right {
float:right;
border-left: 1px solid #989898;
border-right: none;
}

.next_prev {
width: 55px;
}


/******************************
   Index pages
 ******************************/

.index_species {
display: inline-block;
width: 320px;
max-width: 100%;
vertical-align: top;
background-color: rgb(240,240,240);
margin: 2px 2px 8px 2px;
}

.index_thumb {
width: 320px;
height: 240px;
}

.index_thumb img {
max-width: 100%;
max-height: 100%;
}

.index_name {
font-size: 18px;
font-family: Helvetica, Arial, sans-serif;
line-height: 20px;
padding: 12px;
}

.index_name a {
text-decoration: none;
color: rgb(64, 64, 64);
font-weight: 400;
}

.index_name a:hover {
color: #989898;
outline: 0;
cursor: pointer;
}


/******************************
   Species pages
 ******************************/

.sp_session {
margin-bottom: 16px;
margin-top: 16px;
padding-top: 16px;
border-top: 1px solid  #989898;
}

.sp_session ul {
margin: 0;
padding: 0;
}

.sp_session ul li {
display: inline-block;
margin: 4px;
width: 320px;
height: 240px;
vertical-align: top;
text-align: center;
}

.sp_session ul li img {
max-width: 100%;
max-height: 100%;
}

.sp_session ul li a {
padding: 0;
margin: 0;
}

.index_name {
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 400;
}


/******************************
   Footer
 ******************************/

.footer {
max-width: 1024px;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
margin: 0 auto;
margin-top: 32px;
padding: 24px 12px 32px 12px;
border-top: 1px solid #989898;
clear: both;
text-align: center;
}

.footer ul {
padding: 0;
width: 100%;
height: 24px;
}

.footer ul li {
display: inline-block;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
color: #404040;
margin: 0;
padding: 2px 10px;
text-align: center;
border-right: 1px solid #989898;
}

.footer ul li:last-child {
border-right: none;
}

.footer a {
text-decoration: none;
color: #404040;
}

