<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>
  <meta http-equiv="Content-Language" content="en" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="Date" content="01.01.2013" scheme="Day-Month-Year" />
  <meta name="description" lang="de" content="" />
  <meta name="keywords" lang="de" content="Wildpflanzen, Wilde Pflanzen, Natur, Blueten, Blumen, Bestimmung, Systematik, Bluetenfarbe, Bluetenblaetter, " />
  <meta name="page-topic" lang="de" content="Wildpflanzen" />
  <meta name="page-type" content="" />
  <meta name="DC.Language" content="de" />
  <meta name="robots" content="index, follow" />
  <meta name="DC.Creator" content="" />
  <meta name="DC.Rights" content="" />
  <meta name="DC.Description" content="Unkraut ist die Opposition der Natur gegen die Diktatur der Gaertner." />
  <meta name="Page-Topic" lang="de" content="Wildpflanzen" />
  <meta name="Audience" lang="de" content="" />
  <meta name="robots" content="all" />
  <meta name="Revisit-After" content="7 days" />

<title>WILDPFLANZEN</title>

<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<link href="static/main-old.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<body>
  
<div id="titel">Wildpflanzen</div>

<div id="navi">
  <a href="index.html"><span class="navi">Bestimmung </span></a>
  <a href="index-genus-de.html"><span class="navi">Register</span></a>
  <span class="navi1">Systematik</span>
  <a href="kontakt.html" ><span class="navi">Kontakt</span></a>
</div>

<div class="clear2">&nbsp;</div>

<div class="space1">&nbsp;</div>

<div id="navi3">
<span class="navi31">Plantae</span>
</div>
<div class="clear">&nbsp;</div>

	<div class="space_foot">&nbsp;</div>
	<h4><a target="_blank" href="static/mabberley_rothmaler_fischer.pdf"title="Link zum PDF">Nach Mabberley, Rothmaler, Fischer &rarr;</a></h4>
	
<div class="content_s">
  <a target="_blank" href="static/eukarya_g.jpg" title="vergr&ouml;ssern"><img style="border:solid 1px #CDB7B5;" src="static/eukarya2.jpg" alt="img"/></a>
</div>
<div class="linnie">&nbsp;</div><div class="nach_oben"><a href="#titel">nach oben</a></div>

<div class="space_foot">&nbsp;</div>
<div class="content_s">
  <a target="_blank" href="static/polypodiopsida_g.jpg" title="vergr&ouml;ssern"><img style="border:solid 1px #CDB7B5;" src="static/polypodiopsida2.jpg" alt="img"/></a>
</div>
	<div class="clear">&nbsp;</div>
	...In Bearbeitung
  
<div class="linnie">&nbsp;</div><div class="nach_oben"><a href="#titel">nach oben</a></div>
  
	<div class="space_foot">&nbsp;</div>

 <div id="footer">
    <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"title="Link zum Creative Commons.org">
      Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a> / Generated by python
   </div>

</body>

</html>












