<!--(set_escape)-->None<!--(end)-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <title>WILDPFLANZEN</title>
  <link href="main.css" rel="stylesheet" type="text/css" media="all">
  <style>
     h1 {font-size: 20; font-family: Helvetica, sans-serif;}
     th, td {font-family: Helvetica, sans-serif; padding: 3px; border-style: solid; border-width: 1px; border-color: black}
     table {border-spacing: 0px; border-style: solid; border-width: 1px;  empty-cells:show}
  </style>
</head>

<!-- =================================================================== -->
<body>

<h1>All Blumen Data<h1>

  <table>
  <tr>
  <th>specie</th>
  <th>color</th>
  <th>type</th>
  <th>family</th>  
  <th>name_de</th>
  <th>name_index_de</th>
  <th>family_de</th>  
  <th>comment_de</th>
  <th>name_es</th>
  <th>family_es</th>  
  <th>comment_es</th>
  <th>date</th>
  <th>location</th>
  <th>thumb</th>
  </tr>
    <!--(for blume in data)-->
    <!-- ========== BLUME ========== -->
    <tr  class="cells">
      <td><a href="@!blume["color"]!@/@!blume["type"]!@/@!blume.dirname!@/Data.txt">@!blume["specie"]!@</a></td>
      <td> @!blume["color"]!@ </td>
      <td> @!blume["type"]!@ </td>
      <td> @!blume["family"]!@ </td>
      <td> @!blume["name_de"]!@ </td>
      <td> @!blume["name_index_de"]!@ </td>
      <td> @!blume["family_de"]!@ </td>
      <td> @!blume["comment_de"][:20]!@ </td>
      <td> @!blume["name_es"]!@ </td>
      <td> @!blume["family_es"]!@ </td>
      <td> @!blume["comment_es"][:20]!@ </td>
      <td> @!blume["date"]!@ </td>
      <td> @!blume["location"]!@ </td>
      <td> @!blume["thumb"]!@ </td>
   </tr>
    <!--(end)-->
  </table>

</body>
</html>
