<!--(set_escape)-->None<!--(end)-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<!-- ============================= H E A D ============================= -->
<head>
   <!--(include)--> Template_metadata_de.html <!--(end)-->
   <title>WILDPFLANZEN</title>
   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="../../main.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<!-- ============================= B O D Y ============================= -->
<body>
   <div id="titel">Wildpflanzen</div>

   <!-- ====================== N A V I G A T I O N ====================== -->

   <!--(include)--> Template_navi1_de.html <!--(end)-->
  
<!--(macro petals)-->
  <!--(if data[0]["color"] == "blau")--> 
     Blaue, 
  <!--(elif data[0]["color"] == "gelb")-->
     Gelbe, 
  <!--(elif data[0]["color"] == "gruen_braun")-->
     Gr&uuml;ne oder braune,  
  <!--(elif data[0]["color"] == "rot")-->
     Rote, 
  <!--(elif data[0]["color"] == "weiss")-->
     Weisse, 
  <!--(elif data[0]["color"] == "gruen")-->
  <!--(else)--> 
     Error: Color not recognized '@!data[0]["color"]!@'
  <!--(end)-->
  <!--(if data[0]["type"] == "plus")-->
     mehr als f&uuml;nf Bl&uuml;tenbl&auml;tter
  <!--(elif data[0]["type"] == "fuenf")-->
     f&uuml;nf  Bl&uuml;tenbl&auml;tter 
  <!--(elif data[0]["type"] == "vier")-->
     bis vier Bl&uuml;tenbl&auml;tter
  <!--(elif data[0]["type"] == "bluetenstaende")-->
     Blu&uuml;tenst&auml;nde
  <!--(elif data[0]["type"] == "zygomorph")-->
     zygomorphe Bl&uuml;ten
  <!--(elif data[0]["type"] == "aehren")-->
     &auml;hrenartige Bl&uuml;ten 
  <!--(elif data[0]["type"] == "graser")-->
     Gr&auml;ser   
  <!--(else)--> 
     Error: Type not recognized '@!data[0]["type"]!@'  
  <!--(end)-->
<!--(end)-->
   
   <div class="space1">&nbsp;</div>
   <div id="navi3">
      <span class="navi32">@!petals!@</span>
      <!--(for numpage in range(1, data.numpages+1))-->
        <!--(if numpage == data.currentpage)-->     
          <span class="navi31">@!numpage!@</span>
        <!--(else)-->
          <a href="@!data.pagename!@_de_@!numpage!@.html"><span class="navi3">@!numpage!@</span></a>
        <!--(end)-->
      <!--(end)-->
   </div>
   <div class="space_foot">&nbsp;</div>
  
   <!-- ====================  B L U M E N  D A T A  ==================== -->

   <!--(for blume in data)-->
   <!-- =============== B L U M E =============== -->
   <div class="content">
      <div class="img_k">
      <a href="@!blume.dirname!@_de.html"><img src="@!blume.dirname!@/@!blume["thumb"]!@" alt="@!blume["specie"]!@" /></a>
      </div>
      <div class="txt_k" >
      <h4><a href="@!blume.dirname!@_de.html"> @!blume["name_de"]!@ / <i>@!blume["specie"]!@</i> &rarr; </a></h4>
      </div>
   </div>
   <div class="clear">&nbsp;</div>
   <div class="linnie">&nbsp;</div>
   <!--(end)-->

   <!-- =========================== F O O T =========================== -->

   <div class="nach_oben"><a href="#titel">nach oben</a></div>
   <!--(include)--> Template_foot1_de.html  <!--(end)-->
</body>
</html>












