<!--(set_escape)-->None<!--(end)-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<!-- ============================= H E A D ============================= -->
<head>
   <!--(include)--> Template_metadata_de.html <!--(end)-->
   <title>WILDPFLANZEN</title>
   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="../../main.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<!-- ============================= B O D Y ============================= -->
<body>
   <div id="titel">Wildpflanzen</div>

   <!-- ====================== N A V I G A T I O N ====================== -->

<!--(macro petals)-->
  <!--(if data["color"] == "blau")--> Blaue, <!--(elif data["color"] == "gelb")--> Gelbe, <!--(elif data["color"] == "gruen_braun")--> Gr&uuml;ne oder braune, <!--(elif data["color"] == "rot")-->Rote, <!--(elif data["color"] == "weiss")-->Weisse, <!--(elif data["color"] == "gruen")--> <!--(else)-->  Error: Color not recognized @!data["color"]!@ <!--(end)-->
  <!--(if data["type"] == "plus")--> mehr als f&uuml;nf Bl&uuml;tenbl&auml;tter <!--(elif data["type"] == "fuenf")--> f&uuml;nf  Bl&uuml;tenbl&auml;tter <!--(elif data["type"] == "vier")--> bis vier Bl&uuml;tenbl&auml;tter <!--(elif data["type"] == "bluetenstaende")--> Bl&uuml;tenst&auml;nde <!--(elif data["type"] == "zygomorph")--> zygomorphe Bl&uuml;ten <!--(elif data["type"] == "aehren")--> &auml;hrenartige Bl&uuml;ten <!--(elif data["type"] == "graser")--> Gr&auml;ser <!--(end)-->
<!--(end)-->
   
   <!--(include)--> Template_navi1_de.html <!--(end)-->

   <div class="space1">&nbsp;</div>
   <div id="navi3">
      <a href="@!data["color"]!@@!data["type"]!@_de_1.html">
      <span class="navi3">@!petals!@</span></a>
      <span class="navi31">@!data["name_de"]!@</span>
   </div>
   <div class="clear">&nbsp;</div>
   <div class="space_foot">&nbsp;</div>

   <!-- =====================  B L U M E  D A T A  ===================== -->

   <h4>@!data["name_de"]!@ / <i>@!data["specie"]!@</i><br>
       @!data["family_de"]!@ / <i>@!data["family"]!@</i><br>
       Bl&uuml;tezeit: @!data["comment_de_zeit"]!@</h4>
   
   <!--(if "nuevocampo" in data)-->
   <p>@!data["nuevocampo"]!@</p>
   <!--(end)-->
   
   <!--(for image in data["images"])-->
       <div class="img">
       <img src="@!data.dirname!@/@!image["src"]!@" alt="@!data["specie"]!@"/>
       </div>
       @!image["comment_de"]!@
   <!--(end)-->

   <div class="clear">&nbsp;</div>

   <h4> @!data["date"]!@ / @!data["location"]!@ </h4>
   <div class="linnie">&nbsp;</div>

   <!-- =========================== F O O T =========================== -->

   <div class="nach_oben"><a href="#titel">nach oben</a></div>
   <!--(include)--> Template_foot1_de.html  <!--(end)-->
</body>
</html>
