<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

{%- import 'macros.txt' as macros %}

<head>
   <!-- Metadata -->
   {%- include 'metadata-de.html' %}

   <title>Wildpflanzen</title>

   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="static/main-old.css" rel="stylesheet" type="text/css" media="all"/>
   <link href="static/main.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body>
   <!-- Header -->
   {%- include 'header.html' %}


   <div class="wrapper">


   <!-- Global Navigation -->
   {{ macros.navi_global('') }}


   <!-- Content -->
   <div class="content">

	<p>Liebe Besucher,<br />
      um uns die wunderbare Vielfalt der Natur n&auml;her beizubringen, 
      bearbeiten wir diese kleine Datenbank  und stellen sie gerne 
      im Internet zur Verf&uuml;gung.<br />
	   Alle Inhalte der Seite unterliegen der Creative Commons License.<br />
	   Jeder Hinweiss auf Fehler ist uns herzlich willkommen.<br />
	</p>
	<p> Die Seite ist in Bearbeitung.<br />
	    Erst wenn wir eine neue Pflanze fotografiert haben, tragen 
       wir diese in das Register ein.<br />
	    So kann der aktuelle Stand der Seite dort am besten 
       verfolgt werden.<br />
	    Die Zuordnung der Pflanzen zu den Bl&uuml;tenformen ist mehr 
       intuitiv als wissenschaflich damit die Pflanzen besser 
       gefunden werden k&ouml;nnen.<br />
	    Unter der Kategorie <i>mehr als f&uuml;nf Bl&uuml;tenbl&auml;tter 
       </i>haben wir auch Scheinbl&uuml;tenst&auml;nde mit einbezogen.
	</p>
	<p> Unser Kontaktadresse lautet: info (at) wildpflanzen.com.de </p>
	<p> Viel Spa&beta; im sch&ouml;nen Gr&uuml;nen! </p>

   {%- include 'content-end.html' %}

   </div> <!-- end content -->

   </div> <!-- end wrapper -->

   <!-- Footer -->
   {%- include 'footer-de.html' %}

   </div>
</body>
</html>












