<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

{%- import 'macros.txt' as macros %}

<head>
   <!-- Metadata -->
   {%- include 'metadata-de.html' %}

   <title>WILDPFLANZEN</title>

   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="static/main-old.css" rel="stylesheet" type="text/css" media="all"/>
   <link href="static/main.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body>

   <!-- Header -->
   {%- include 'header.html' %}


   <div class="wrapper">


   <!-- Navigation -->
   {{ macros.naviglobal('') }}


   <!-- Content -->
   <div class="content">



   <div id="navi3"> <span class="navi31">Plantae</span></div>
   
   <h4><a target="_blank" href="static/mabberley_rothmaler_fischer.pdf"title="Link zum PDF">Nach Mabberley, Rothmaler, Fischer &rarr;</a></h4>
   
   <div class="content_s">
     <a target="_blank" href="static/eukarya_g.jpg" title="vergr&ouml;ssern"><img style="border:solid 1px #CDB7B5;" src="static/eukarya2.jpg" alt="img"/></a>
   </div>
   <div class="linnie">&nbsp;</div><div class="nach_oben"><a href="#titel">nach oben</a></div>
   
   <div class="content_s">
     <a target="_blank" href="static/polypodiopsida_g.jpg" title="vergr&ouml;ssern"><img style="border:solid 1px #CDB7B5;" src="static/polypodiopsida2.jpg" alt="img"/></a>
   </div>
   <p>...In Bearbeitung</p>
   
   <div class="linnie">&nbsp;</div>
   <div class="nach_oben"><a href="#titel">nach oben</a></div>


   </div> <!-- end content -->

   </div> <!-- end wrapper -->

   <!-- Footer -->
   {%- include 'footer-de.html' %}

   </div>
</body>
</html>












