<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

{%- import 'macros.txt' as macros %}

<head>
   <!-- Metadata -->
   {%- include 'metadata-de.html' %}

   <title>{{ group.group_name }} | Wildpflanzen</title>

   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="static/main.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body>
   <!-- Header -->
   {%- include 'header.html' %}


   <div class="wrapper">


   <!-- Navigation -->
   {% if group.splitpath[0] == 'insecta' %}{{ macros.naviglobal('besucher') }}
   {%- else %}{{ macros.naviglobal('') }}{% endif %}

   <!-- Navigation -->
   <div class="navi">
   <ul>
   <li class="navi_select">{{ group.group_name }}
   </li><li class="nav_right"><a href="{{ group.group_next.filename }}.html">&gt;</a>
   </li><li class="nav_right"><a href="{{ group.group_prev.filename }}.html">&lt;</a>
   </li>
   </ul>
   </div>
   
   <!-- Content -->
   <div class="content">

   <!-- Group name -->
   <h1>{{ group.group_name }}</h1>

   <!-- Group species -->
   {% for species in group.species %}
   <div class="index_species">
   <div class="index_thumb"><a href="{{ species.filename }}.html"><img src="thumbs/{{ species.thumb }}" alt="{{ species.genus }} {{ species.species }}" /></a></div>
   <div class="index_name"><a href="{{ species.filename }}.html">{{ species.genus }} {{ species.species }}</a></div>
   </div>
   {% endfor %}

   </div> <!-- Content -->

   </div>  <!-- Wrapper -->


   <!-- Footer -->
   {%- include 'footer-de.html' %}

</body>
</html>
