{% extends "base.html" %}


{% block page_title -%}{{ macros.index_title(index.index_name) }} | Wildpflanzen{%- endblock -%}


{% block navi_global %}
   {{ macros.navi_global('index') }}
{%- endblock %}


{% block navi_local %}
   {{ macros.navi_index(index.index_name) }}
{%- endblock %}


{% block content %}
   <!-- Page title -->
   <h1>{{ macros.index_title(index.index_name) }}</h1>
   
   {% for key in index['keys'] %}<a href='#index-{{key}}'>{{key}}</a> {% endfor %}

   {% for key in index['keys'] %} {% set species_list = index.species[key] %}
      <h2 id='index-{{key}}'>{{ key }}</h2>
      <ul>
      {%- if index.index_name == 'genus_de' %}
         {% for species in species_list|sort(attribute='name_de') %}
         <li><a href="{{species.filename}}.html">{{ macros.name_deutche_index(species) }} {% if macros.name_deutche_index(species) %} / {% endif %} {{ species.genus }} {{ species.species }}</a></li>
         {%- endfor %}

      {%- elif index.index_name == 'genus' %}
         {% for species in species_list|sort(attribute='genus') %}
         <li><a href="{{species.filename}}.html">{{ species.genus }} {{ species.species }} {% if macros.name_deutche_index(species) %} / {% endif %} {{ macros.name_deutche_index(species) }}</a></li>
         {%- endfor %}

      {%- elif index.index_name == 'family' %}
         {% for species in species_list|sort(attribute='genus') %}
         <li><a href="{{species.filename}}.html">{{ species.genus }} {{ species.species }} {% if macros.name_deutche_index(species) %} / {% endif %} {{ macros.name_deutche_index(species) }}</a></li>
         {%- endfor %}

      {%- elif index.index_name == 'family_de' %}
         {% for species in species_list|sort(attribute='name_de') %}
         <li><a href="{{species.filename}}.html">{{ macros.name_deutche_index(species) }} {% if macros.name_deutche_index(species) %} / {% endif %} {{ species.genus }} {{ species.species }}</a></li>
         {%- endfor %}

      {%- else %}

         <!-- Error, unknown index: "{{index.index_name}}" -->

      {% endif %}
      </ul>

      {{ macros.nach_oben() }}

   {% endfor %}
   
{%- endblock %}
