{% extends "base.html" %}


{% block page_title -%}{{ index.name }} Index | Wildpflanzen{%- endblock -%}


{% block navi_global %}
   {{ macros.navi_global('index') }}
{%- endblock %}


{% block navi_local %}
   {{ macros.navi_index(index.index_name) }}
{%- endblock %}


{% block content %}
   <h1>{{ macros.index_name(index.index_name) }}</h1>

   {% for key in index['keys'] %} {% set species = index['species'][key] %}
      <h2>{{ key }}</h2>
      <ul>
      {%- if index.index_name == 'family' %}
      {% for specie in species|sort(attribute='species') %}
      <li><a href="{{specie.filename}}.html">{{ specie.genus }} {{ specie.species }} / {{ specie.species_de }} {{ specie.genus_de }} </a></li>
      {%- endfor %}

      {%- elif index.index_name == 'family_de' %}
      {% for specie in species|sort(attribute='species_de') %}
      <li><a href="{{specie.filename}}.html">{{ specie.genus_de }} {{ specie.species_de }} / {{ specie.genus }} {{ specie.species }}</a></li>
      {%- endfor %}

      {%- elif index.index_name == 'genus' %}
      {% for specie in species|sort(attribute='species') %}
      <li><a href="{{specie.filename}}.html">{{ specie.genus }} {{ specie.species }} / {{ specie.species_de }} {{ specie.genus_de }}</a></li>
      {%- endfor %}

      {%- elif index.index_name == 'genus_de' %}
      {% for specie in species|sort(attribute='species_de') %}
      <li><a href="{{specie.filename}}.html">{{ specie.genus_de }} {{ specie.species_de }} / {{ specie.genus }} {{ specie.species }}</a></li>
      {%- endfor %}

      {%- else %}

      <!-- Error, unknown index "{{index.index_name}}" -->

      {% endif %}
      </ul>
   {% endfor %}
   
   <div class="nach_oben"><a href="#header">nach oben</a></div>
{%- endblock %}
