<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

{%- import 'macros.txt' as macros %}

<head>
   <!-- Metadata -->
   {%- include 'metadata-de.html' %}

   <title>Index | Wildpflanzen</title>

   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="static/main.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body>
   <!-- Header -->
   {%- include 'header.html' %}


   <div class="wrapper">


   <!-- Global Navigation -->
   {{ macros.navi_global('index') }}

   <!-- Local Navigation -->
   {{ macros.navi_index('groups') }}


   <!-- Content -->
   <div class="content">

   <h1>Gruppen</h1>
   <ul>
   {% for key, group in groups.items() -%}
   {%- if group.species -%}
   <li><a href="{{ group.filename }}.html">{{ group.group_name }}</a>
   </li>
   {%- endif -%}
   {%- endfor %}
   </ul>

   {%- include 'content-end.html' %}

   </div>  <!-- Content -->

   <!-- Footer -->
   {%- include 'footer-de.html' %}

   </div>
</body>
</html>
