<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>
   <!-- Metadata -->
   {%- include 'metadata-de.html' %}
   
   <title>Index | Wildpflanzen</title>
   
   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="static/main.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body>
   <div class="wrapper">

   <div class="navi">
   <!-- Navigation -->
   </div>
    
   <div class="content">

   <h1>Wildpflanzen</h1>
   <ul>
   {% for key, group in groups.items() %}
   {% if group.species %}
   <li> <a href="{{ group.filename }}.html">{{ group.group_name }}</a> </li>
   {%- endif %}
   {%- endfor %}
   </ul>
   
   </div>
   
   <!-- Footer -->
   {%- include 'footer-de.html' %}

   </div>
</body>
</html>
