<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>
   <!-- Metadata -->
   {%- include 'metadata-de.html' %}
   
   <title>Index | Wildpflanzen</title>
   
   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="static/main.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body>
   <div class="wrapper">

   <div class="navi">
   <!-- Navigation -->
   </div>
    
   <div class="content">

   <ul>
   {% for key, group in groups.items() %}
   <li>
   <a href="{{ group.name }}.html">{{ group.group_desc }}</a>
   </li>
   {% endfor %}
   </ul>

   </div>
   
   <!-- Footer -->
   {%- include 'footer-de.html' %}

   </div>
</body>
</html>
