
  <meta http-equiv="Content-Language" content="en" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="Date" content="01.01.2013" scheme="Day-Month-Year" />
  <meta name="description" lang="en" content="" />
  <meta name="keywords" lang="en" content="" />
  <meta name="page-topic" lang="en" content="" />
  <meta name="page-type" content="" />
  <meta name="DC.Language" content="en" />
  <meta name="robots" content="index, follow" />
  <meta name="DC.Creator" content="" />
  <meta name="DC.Rights" content="" />
  <meta name="DC.Description" content="" />
  <meta name="Page-Topic" lang="en" content="" />
  <meta name="Audience" lang="en" content="" />
  <meta name="robots" content="all" />
  <meta name="Revisit-After" content="7 days" />
