<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>
   <!-- Metadata -->
   {%- include 'metadata-de.html' %}
   
   <title>{{ register.genus }} {{ register.species }} | Wildpflanzen</title>
   
   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
   <link href="static/main.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body>
   <div class="wrapper">

   <div class="navi">
   <!-- Navigation -->
   <a href="{{ register.group.name }}.html">{{ register.group.group_desc }}</a>
   </div>
    
   <div class="content">

   <!-- Species data -->
   <h1>{{ register.genus_de }} {{ register.species_de }} / {{ register.genus }} {{ register.species }}</h1>
   <div class="family">{{ register.family_de }} / {{ register.family }}</div>
   {% if register.floration %}<div class="floration">Blütezeit: {{ register.floration }}</div>{% endif %}
   
   <!-- Species photo sessions -->
   {% for session in register.sessions %}
   <div class="session">Session: {{ session.date }} / {{ session.location }}</div>
   {% for thumb in session.thumbs %}
   <div class="thumb"><a href="images/{{ thumb }}"><img src="thumbs/{{ thumb }}" alt="{{ register.genus }} {{ register.species }}" /></a></div>
   {% endfor %}
   {% endfor %}

   </div>
   
   <!-- Footer -->
   {%- include 'footer-de.html' %}

   </div>
</body>
</html>
