{% extends "base.html" %}


{% block page_title -%}
   {{ species.genus }} {{ species.species }} | Wildpflanzen
{%- endblock %}


{% block navi_local %}
   <ul>
   <li class="next_prev"><a href="{{ species.species_prev.filename }}.html">&lt;</a>
   </li><li><a href="{{ species.group.filename }}.html">{{ species.group.group_name }}</a>
   </li><li class="next_prev"><a href="{{ species.species_next.filename }}.html">&gt;</a>
   </li>
   </ul>
{%- endblock %}


{% block content %}
   <!-- Species name -->
   <h1>{{ macros.name_deutche(species) }} {% if macros.name_deutche(species) %} / {% endif %} {{ species.genus }} {{ species.species }}</h1>
   <div class="sp_info">
   <div class="family">{{ species.family_de }}
       {%- if species.family_de and species.family %} / {% endif -%}
       {{ species.family }}</div>
   {% if species.floration %}<div class="floration">Blütezeit: {{ species.floration }}</div>{% endif %}
   </div>

   <!-- Species photo sessions -->
   <div class="sp_sessions">
   {% for session in species.sessions %}
   <div class="sp_session">
   <ul>
   {% for thumb in session.thumbs -%}
   <li><a href="images/{{ thumb }}"><img src="thumbs/{{ thumb }}" alt="{{ species.genus }} {{ species.species }}" /></a>
   </li>
   {%- endfor %}
   </ul>
   <div class="sp_date">Session: {{ session.date }} / {{ session.location }}</div>
   </div>
   {% endfor %}
   </div>

   {{ macros.nach_oben() }}
{%- endblock %}


{% block data %}
   keys: [{% for key in species.keys() %}'{{key}}', {% endfor %}]
   {%- for key in ['family', 'genus', 'species', 'family_de', 'species_de', 'genus_de', 'floration', 'thumb', 'path' ] %}
   {{key}}: '{{ species[key] }}'
   {%- endfor %}
   sessions:
   {%- for session in species.sessions %}
     - {% for key in ['date', 'location'] -%}
       {{key}}: '{{ session[key] }}'
       {% endfor -%}
       images: [{%- for image in session.images %}{{ image }}, {% endfor %}]
       {% endfor %}
{%- endblock %}
