{% extends "base.html" %}


{% block page_title -%}
   {{ register.genus }} {{ register.species }} | Wildpflanzen
{%- endblock %}


{% block navi_local %}
   <ul>
   <li class="next_prev"><a href="{{ register.species_prev.filename }}.html">&lt;</a>
   </li><li><a href="{{ register.group.filename }}.html">{{ register.group.group_name }}</a>
   </li><li class="next_prev"><a href="{{ register.species_next.filename }}.html">&gt;</a>
   </li>
   </ul>
{%- endblock %}


{% block content %}
   <!-- Species name -->
   <h1>{% if register.genus_de %}{{ register.genus_de }}, {% endif %}{{ register.species_de }}
       {%- if register.genus_de or register.species_de %} / {% endif -%}
       {{ register.genus }} {{ register.species }}</h1>
   <div class="sp_info">
   <div class="family">{{ register.family_de }}
       {%- if register.family_de and register.family %} / {% endif -%}
       {{ register.family }}</div>
   {% if register.floration %}<div class="floration">Blütezeit: {{ register.floration }}</div>{% endif %}
   </div>

   <!-- Species photo sessions -->
   <div class="sp_sessions">
   {% for session in register.sessions %}
   <div class="sp_session">
   <ul>
   {% for thumb in session.thumbs -%}
   <li><a href="images/{{ thumb }}"><img src="thumbs/{{ thumb }}" alt="{{ register.genus }} {{ register.species }}" /></a>
   </li>
   {%- endfor %}
   </ul>
   <div class="sp_date">Session: {{ session.date }} / {{ session.location }}</div>
   </div>
   {% endfor %}
   </div>

   {{ macros.nach_oben() }}
{%- endblock %}


{% block data %}
   keys: [{% for key in register.keys() %}'{{key}}', {% endfor %}]
   {%- for key in ['family', 'genus', 'species', 'family_de', 'species_de', 'genus_de', 'floration', 'thumb', 'path' ] %}
   {{key}}: '{{ register[key] }}'
   {%- endfor %}
   sessions:
   {%- for session in register.sessions %}
     - {% for key in ['date', 'location'] -%}
       {{key}}: '{{ session[key] }}'
       {% endfor -%}
       images: [{%- for image in session.images %}{{ image }}, {% endfor %}]
       {% endfor %}
{%- endblock %}
